body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./components/images/tablebackground.jpeg");
  background-size: cover;
  font-family: 'Roboto'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel {
  max-width: 100%;
}

.home-div {
  align-self: center;
}

.home-jumbo {
  background-color: transparent;
  padding: 0px
}

.recipeIndexBackground {
  background-image: transparent
}

.modal {
  color: black
}

.tableName {
  color: #E8E8E8
}

.createRecipeHeader {
  color: #E8E8E8
}

.label {
  color: #E8E8E8
}

.welcome {
  color: #E8E8E8
}

.welcomeUsername {
  color: #E8E8E8
}

.welcomePassword {
  color: #E8E8E8
}

.recipeCreateIngredients{
  color: #E8E8E8
}

.recipeCreateRecipe{
  color: #E8E8E8
}

.recipeCreateTemp{
  color: #E8E8E8
}

.recipeCreateCooktime{
  color: #E8E8E8
}

#p {
  font-family: 'Roboto';
  font-size: 25px;
}